@model coreapimvc.Models.Kiyafetler

@{
    ViewData["Title"] = "Edit";
}

<h1>Güncelle</h1>
<br />
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="kiyafetID" class="control-label"></label>
                <input asp-for="kiyafetID" class="form-control" />
                <span asp-validation-for="kiyafetID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="kiyafetAdi" class="control-label"></label>
                <input asp-for="kiyafetAdi" class="form-control" />
                <span asp-validation-for="kiyafetAdi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="uretimYeri" class="control-label"></label>
                <input asp-for="uretimYeri" class="form-control" />
                <span asp-validation-for="uretimYeri" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="uretimTarihi" class="control-label"></label>
                <input asp-for="uretimTarihi" class="form-control" />
                <span asp-validation-for="uretimTarihi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="magazaID" class="control-label"></label>
                <input asp-for="magazaID" class="form-control" />
                <span asp-validation-for="magazaID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Listeye geri dön..</a>
</div>

